.container {
  width: 660px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
}

.disclaimer {
  font-size: 80%;
}

.comic {
  background: #dddddd;
  padding: 10px 10px 20px 10px;
}

.pagination {
  display: flex;
  width: 100%;
  margin: 20px 0 40px 0;
}

.pagination div {
  width: 50%;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}
